.levy{
    width: 45%;
    float: left;
    
}
.pravy{
    width: 45%;
    float: right;
    border-left: 2px solid blue;
    padding: 0px 20px;
}

table{
    border-collapse: collapse;
    width: 400px;
}

td,th {
    border: 2px solid #001219;
    padding: 5px;
}

thead{
    background-color: grey;
}