
*{
    margin: 0;
    padding: 0;
    
}

#container{
    border: 2px solid #001219;
    width: 1100px;
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
header{
    height: 50px;
    background-color: rgb(20, 185, 214);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
}
header p{
    padding: 20px 0px;
    text-align: center;
}
nav ul{
    height: 40px;
    background-color: lightseagreen;
    border-bottom: 2px solid #001219;
    list-style-type: none;
    text-decoration: none;
}
nav a, aside a, main a{
    text-decoration: none;
    color:black;

}
nav  li{
    display: inline-block;
    width: 200px;
    border: 2px solid #001219;
    text-align: center;
    margin: 5.9px 30px;
    border-radius: 5px;
    padding: 3px;
}

nav a:hover aside a:hover{
    color:greenyellow; 
}

nav a:active, aside a:active{
    color: rgb(29, 10, 199);
}

main{
    height: 500px ;
    background-color: bisque;
    padding: 20px;
    overflow: auto;
}

footer{
    text-align: center;
    background-color:lightskyblue;
    padding: 10px;
}

.zalomeni{
    white-space: pre;
    line-height: 2;
}

.pravy{
    width: 45%;
    float: right;
    border-left: 2px solid #001219;
}

h3 {
    color: #001219;
    margin: 10px 0px;
}

.obtekani1{
    float: right;
    margin: 0px 10px 10px 10px;
}

.obtekani{
    float: right;
    margin: 0px 10px 10px 10px;
}

.obtekani2{
    float: left;
    margin: 0px 10px 10px 0px;
}

.neobtekat{
    clear: both;
}

main ul li {
    list-style-image: url(../obrazky/odrazka.gif);
    line-height: 2;
    margin-left: 20px;
    padding-left: 10px;
}

h1{
    text-align: center;
    color: brown;
    border-bottom: 2px solid blue;
    padding: 5px;
    margin-bottom: 20px;
}
.radek{
    display: block;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}
h2{
    color: brown;
    margin: 15px 0px;
    font-size: 150%;

}

.barva{
    background-color: rgba(147, 9, 147, 0.388);
}

main p{
    text-align: justify;

}

aside{
    width: auto;
    float: right;
    border: 2px blueviolet solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}