body {
    background: rgb(252, 252, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1 {
    color: whitesmoke;
    border: 10px solid black;
    background: darkred;
    padding: 10px;
}
h2 {
    color: darkred;
    text-decoration: underline blue;
    
}
    /* První úroveň */
ol { 
    list-style-type: upper-latin;
}
    /* Druhá úroveň */
ol ol {       
    list-style-type: decimal;
}
    /* Třetí úroveň */
ol ol ol {
    list-style-type: disc;
    padding-left: 100px;
}
ol ol ul li {
    padding-left: 10 px;
}
.odrazka {
    background-color: aqua;
    border: 1px solid black;
    width: 300px;
}
.odrazka {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 5px
    margin 5px
}